@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');


.shelves {
    padding: 0 40px 30px 30px;
    position: relative;
    font-family: 'La Belle Aurore', cursive;
    higth:100%;
}

.shelves h1 {
    color: white;
}