
.shelf {
    margin: 30px 48px 32px 0;
    width: 100%;
}

.shelfTitleContainer {

}
.shelfTitle {
    width: 100%;
    padding-bottom: 15px;

}

.shelfContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 10px 25px 25px 25px;

}